* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e0d7f5;
}
body {
    background-color: #0f0820;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    height: 3rem;
    display: flex;
    width: 100%;
    background-color: #1a1028;
    position: fixed;
    top: 0;
    z-index: 99;
    overflow: hidden;
}
#nav-bar {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
    gap: 20px;
    padding-right: 2%;
}
a {
    text-decoration: none;
}
.nav-list{
    display: block;
    padding: 1%;
}
.nav-list:hover {
    background-color: #994ecc;
}
.about {
    margin-top: 3rem;
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
    text-align: center;
    padding-top: 6%;
}
.intro-title {
    font-size: 3rem;
    font-weight: bold;
}
.intro-subtitle {
    font-size: 2rem;
    font-style: italic;
    color: #1a1028;
}
.work {
    text-align: center;
}
.project-title {
    font-size: 2.5rem;
    margin: 1rem auto;
}
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10%;
    justify-items: center;
}
.project-tile {
    width: 27vw;
    height: 60vh;
    border-radius: 5%;
    overflow: hidden;
    background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
    transition: transform 0.5s ease-in-out;
}
.project-tile:hover {
    box-shadow: 2px 2px 3px #994ecc;
    transform: scale(1.05);
}
.project-tile img {
    height: 80%;
    width: 100%;
    object-fit: fill;
    border-radius: 5% 5% 0 0;
}
.project-tile p {
    height: 20%;
    width: 100%;
    border-radius: 0 0 20% 20%;
    font-size: 1.4rem;
    padding-top: 3%;
    font-weight: bold;
}